{% extends 'main/base.html' %}

{% block title %}Banking{% endblock %}

{% block head %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  <div class="main-container">
    <div id="div-manage-new-transaction">
      <a href="api/ui/#/" target="_blank" class="btn btn-outline-info">API Documentation</a>
      <a href="#" id="btn-add-transaction" class="btn btn-success">New transaction</a>
      <a href="#" id="btn-cancel-add-transaction" class="btn btn-danger" style="display:none;">Cancel</a>
    </div>

    <div id="new-transaction" style="display:none;">
      <form action="/banking" method="post" >
        {{ template_form.hidden_tag() }}
        {{ template_form.description() }}
        {{ template_form.category() }}
        {{ template_form.amount() }}
        {{ template_form.submit() }}
      </form>
    </div>

    <div class="account-selector">
      <h1>Financial Overview</h1>
    </div>

    <div class="transactions-filter">
      <form action="/banking" method="post" id="filter-transaction">
        {{ filter_form.hidden_tag() }}
        {{ filter_form.start_date() }}
        To
        {{ filter_form.end_date() }}
        {{ filter_form.search_type() }}
        {{ filter_form.transaction_description(id="autocomplete") }}
        {{ filter_form.category() }}
        {{ filter_form.submit() }}
        {{ filter_form.clear() }}
      </form>
    </div>

    <div class="transaction-statistics">
      <div class="left">
        <div id='chart_donut' class='chart'></div>
      </div>
      <div class="right">
        <div id='chart_bar' class='chart'></div>
      </div>
    </div>

    <div class="transactions-window">
      <div class="transactions-table">
        <table class="table" id="transactionsTable">
          <thead>
            <tr>
              <th scope="col" style="width: 15%">Date <button id="sortButton">Sort</button></th>
              <th scope="col">Description</th>
              <th scope="col" style="width: 15%">Category</th>
              <th scope="col" class="text-center" style="width: 12%">Amount</th>
              <th scope="col" class="text-center" style="width: 12%">Saldo</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
              <tr>
                <td  class="transaction-date">{{ transaction.date_booked.strftime("%d/%m/%y") }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.category }}</td>
                <td class="col-row-amount text-right">{{ transaction.amount }}</td>
                <td class="col-row-saldo text-right">{{ transaction.saldo }}</td>
              </tr>
            {% endfor%}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td id="transaction-table-sum" class="text-right" style="font-weight: bold">Sum: {{transactions_sum}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/sort.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <!-- Autocomplete -->
    <!-- pass transactions variable to js -->
    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
    <script>
      var unique_descriptions = JSON.parse('{{ unique_descriptions|tojson|safe }}');
    </script>

    <!-- Plotly -->
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
      var graph_bar = {{ graphJSON_bar|safe }};
      graph_bar.config = {displayModeBar: false};
      Plotly.plot('chart_bar', graph_bar, {});
    </script>
    <script type='text/javascript'>
      var graph_donut = {{ graphJSON_donut|safe }};
      graph_donut.config = { displayModeBar: false };
      Plotly.plot('chart_donut', graph_donut, {});
    </script>

    <script src="{{ url_for('static', filename='js/button_actions.js') }}"></script>
{% endblock %}
