 body {
  color: #264A8E;
  background-color: #F4F4F4;
}

.main-container {
  width: 85%;
  margin: 0px auto;
  min-height: 100vh;
  padding-bottom: 1rem;
}

.custom-icon {
  width: 18px;
  height: 16px;
  font-weight: 900;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;

}
.icon-primary {
  filter: invert(24%) sepia(47%) saturate(1353%) hue-rotate(190deg) brightness(98%) contrast(93%);
}
.icon-white {
  filter: invert(99%) sepia(65%) saturate(2%) hue-rotate(275deg) brightness(114%) contrast(100%);
}
.icon-green {
  width: 30px;
  padding-bottom: 5px;
  height: auto;
  filter: invert(82%) sepia(46%) saturate(695%) hue-rotate(25deg) brightness(89%) contrast(86%);
}
.icon-red {
  width: 30px;
  padding-bottom: 5px;
  height: auto;
  filter: invert(30%) sepia(88%) saturate(2430%) hue-rotate(1deg) brightness(101%) contrast(107%);
}

/* div {
  border: 1px solid #000000;
} */

.hidden {
  display: none;
}

.accounts-heading {
  width: 90%;
  margin: 2rem auto;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.accounts-heading h1 {
  padding-top: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 1rem;
}
.accounts-selector {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.account-shell {
  display: flex;
}

.card-account{
  border-radius: 20px;
  height: 150px;
  width: 150px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: #264A8E;
  text-decoration: none;
}

.card-account:link { text-decoration: none; color: #264A8E;}
.card-account:visited { text-decoration: none; color: #264A8E;}
.card-account:hover { text-decoration: none; color: white; background-color: #113474;}
.card-account:active { text-decoration: none; color: #264A8E;}

#active-account > .card-account {
  background-color: #33438D;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-account .top {
    margin-top: 25px;
    margin-left: 20px;
    width: 130px;
    display: flex;
    justify-content: flex-start;
}
.card-account .top .logo {
  padding-right: 5px;
}

.card-account .middle {
  margin-top: 35px;
  margin-left: 20px;
  font-weight: 500;
  width: 110px;
  overflow: hidden;
  white-space: nowrap;

}
.card-account .bottom {
  margin-top: 5px;
  margin-left: 20px;
  width: 130px;
}
.account-iban {
  width: 90px;
  overflow-x: hidden;
}

.account-options {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 60px;
}

#active-account > .account-options {
  /* padding-left: 10px; */
  padding-right: 10px;
}


.activities-heading {
  width: 90%;
  margin: 0px auto;
  margin-top: 2rem;
}
.activities-heading h1 {
  padding-top: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 1rem;
}

.btn-primary {
  background-color: #33438D !important;
  border-color: #33438D !important;
}
.btn-outline-primary {
  color: #33438D !important;
  border-color: #33438D !important;
}

.activities-menu {
  width: 90%;
  margin: 1.5rem auto;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 0.5px solid rgb(166, 165, 165);
}

.activities-actions {
  display: flex;
  justify-content: space-around;
}
#filter-transaction #start_date {
  margin-right: -1px;
}
#filter-transaction #autocomplete {
  width: 150px;
}
.activities-menu-separator{
  border: 0.5px solid rgb(166, 165, 165);
  margin-top: -0.7rem;
  margin-bottom: -0.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.activities-content{
  width: 90%;
  margin: 0px auto;
  display: flex;
}

.activities-table{
  width: 80%;
  border-radius: 8px;
  padding: 1rem;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: scroll;
  max-height: 400px;
}
.activities-section-title {
  width: 90%;
  margin: 0px auto;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
}
.activities-section-title .transactions {
  width: 75%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: grey;
  font-weight: 500;
}
.activities-section-title .statistics {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  color: grey;
}
.activities-analytics{
  width: 20%;
}

.card-income, .card-expenses {
  height: 100px;
  padding: 1rem;
  border-radius: 5px;
  margin-left: 1rem;
  margin-right: 0;
  margin-bottom: 1rem;

  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.more-analytics {
  width: 200px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}
.more-analytics a {
  text-decoration: none;
}

.more-analytics a:link { text-decoration: none; color: #264A8E;}
.more-analytics a:visited { text-decoration: none; color: #264A8E;}
.more-analytics a:hover { text-decoration: underline; color: #264A8E}
.more-analytics a:active { text-decoration: none; color: #264A8E;}


.activities-analytics .card-title {
  margin-bottom: 0px !important;
}
.activities-analytics .card-content {
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;

}

.activities-content-infotext {
  color: rgb(166, 165, 165);
}
.activities-content-infotext .spacer {
  border-bottom: 0.5px solid rgb(166, 165, 165);
}
#filterInfoText {
  font-size: 0.8rem;
  font-style: italic;
}

.table td, .table th {
  color: #264A8E;
  font-size: 0.9rem;
  vertical-align: middle !important;
}

.new-transaction-form {
  width: 90%;
  margin: 1.5rem auto;
  /* padding: 1.5rem; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#new-transaction-div > .forms{
  display: flex;
  justify-content:center;
}
#new-transaction-div > .cancel-button {
  margin: 0px auto;
  display: flex;
  justify-content:flex-end;
}

.standard-payment{
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  border-right: 1px solid rgb(166, 165, 165);
}

.subaccount-transfer{
  padding-left: 1rem;
}

.section-title{
  color: grey;
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
}

#new-transaction-recipient {
  width: 100px;
}

/* Modals */
#overlay_new_account, #overlay_edit_account {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

#closeEditAccountBtn, #closeNewAccountBtn{
  position: absolute; top: 5px; right: 10px;
}

#overlay_new_account .card-new-account {
  background-color: white;
  padding: 4rem;
  border-radius: 10px;
}


#overlay_edit_account .card-edit-account {
  background-color: white;
  padding: 4rem;
  border-radius: 10px;
}

#flash-messages-container {
  max-width: 300px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.alert {
  display: flex;
}
