.body {
  color: #264A8E;
  background-color: #F4F4F4;
}

.main-container {
  width: 80%;
  margin: 0px auto;
}

.menu-bar {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.account-selector {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid gray;
}

.new-transaction {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.transactions-window {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.transactions-filter {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.transactions-table {
  padding-left: 10px;
  padding-right: 10px;
}

.table .value-column {
  display: flex;
  justify-content: flex-end;
}

.transaction-statistics {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid black; */
}
.transaction-statistics .left {
  /* border: 1px solid black; */
  width: 30%;
}

.chart {
  display: flex;
  justify-content: space-around;
  height: 35vh;
}

.transaction-statistics .right {
  /* border: 1px solid black; */
  width: 70%;
}
