body {
  color: #264A8E;
  background-color: #F4F4F4;
}

.main-container {
  width: 80%;
  margin: 0px auto;
}

#div-manage-new-transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

/* div {
  border: 1px solid #000000;
} */

.hidden {
  display: none;
}

.menu-bar {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.account-selector {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid gray;
}

/* Form styling */
.form-new-transaction {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#filter-transaction #search_type {
  height: 30px;
}
#filter-transaction #start_date {
  height: 30px;
}
#filter-transaction #end_date {
  height: 30px;
}
#filter-transaction #transaction_description {
  height: 30px;
}
#filter-transaction #submit {
  height: 30px;
}
#filter-transaction #clear {
  height: 30px;
}
#filter-transaction #category {
  height: 30px;
}

#new-transaction #transaction_description {
  height: 30px;
}
#new-transaction #submit {
  height: 30px;
}
#new-transaction #category {
  height: 30px;
}
#new-transaction #amount {
  height: 30px;
}




.transactions-window {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.transactions-filter {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;

}

th {
  color: #264A8E;
  font-size: 0.9rem;
}

td {
  color: #264A8E;
  font-size: 0.9rem;
}

.transactions-table {
  padding-left: 10px;
  padding-right: 10px;
}

.transaction-statistics {

  display: flex;
  justify-content: space-evenly;
}
.transaction-statistics .left {
  width: 30%;
}

.chart {
  display: flex;
  justify-content: space-around;
  height: 35vh;
}

.transaction-statistics .right {
  width: 70%;
}
